@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #1b1b1b;
  color: #c3c0c0;
  font-family: "Poppins";
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

li {
  list-style-type: none;
}


a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  text-decoration: underline;
}

.show-repo {
  cursor: pointer;
  text-decoration: underline;
}

.forks,
.repoLink,
.description {
  display: flex;
  justify-content: center;
}

input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: #585858;
}

input:active,
input:hover {
  border: 1px solid transparent;
  background-color: #d3d3d3;
}

button {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: #585858;
  color: #1b1b1b;
  margin-left: 5px;
}

button:active,
button:hover {
  border: 1px solid transparent;
  background-color: #d3d3d3;
  color: #585858;
}